body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100vh;   
    font-family:"Josefin Sans", sans-serif ; 
    padding-top: 80px;
}

:root {
    --primeira-cor:#0efefd;
    --segunda-cor:#00b1b1;
    --terceira-cor:#003771;
}

:root {
    --fonte-padrao: "Josefin Sans", sans-serif;
    };

    
